sudo: false
language: node_js
before_script:
- ./prebuild.sh
node_js:
- '5.0'
- '4.1'
- '4.0'
- '0.11'
- '0.10'
deploy:
  provider: npm
  email: contact@jasonchalom.com
  api_key:
    secure: I3DoC5Cjk/uNdAfBs9mN+TX7xof3B/p+uqxdEgvAjeX0Xf7lJBrT/r6znLO8MYyOnuAAu9uOMbMFPlQPCaGx+4j+tsE+3Mx45s1pK3Ap4shWhv5nfNV3Ovz6NU1B7EZF/ejUOflx1tJyhvIjSGrpgoTNbpSyI8489xogYBfbLTA=
  on:
    repo: TRex22/data4node
    branch: master
